*{
    box-sizing: border-box;
}
.Login{
    background-color: rgb(194, 194, 194);
    min-height: 100vh;
    position: fixed;
    min-width: 100%;
}

.SignUp{
    background-color: rgb(194, 194, 194);
    min-height: 100vh;
    position: fixed;
    min-width: 100%;
}
.NavBar{
    position: fixed;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 15;
    top: 0;
}

.navLink{
    text-decoration: none;
    padding: 10PX;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    color:rgb(0, 0, 0);
}

.navBorder{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(220, 220, 220);

}

.Toastify__toast-container--top-center.Toast {
    width: 245px;
}

.navLink:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.Toast{
    margin-top: -18px;
}

.Toastify__close-button{
    margin-top: 10px;
}

#basic-navbar-nav{
    flex-basis: unset;
    flex-grow: unset;
}


.css-bhp9pd-MuiPaper-root-MuiCard-root.LoginCard{
    min-width: 400px;
    padding: 25px 50px;
    border-radius: 25px;
    background-color:rgb(226, 226, 226) ;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root.LoginCard:hover{
    background-color: rgb(216, 216, 216)
}

.logindiv{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    height: 100vh;
}

.loginBtn.css-1fu7jd5-MuiButtonBase-root-MuiButton-root{
    background-color: black;
    border-radius: 20px;
}

.loginBtn.css-1fu7jd5-MuiButtonBase-root-MuiButton-root:hover{
    background-color: rgb(51, 51, 51);
}

.signUpdiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root.signUpCard{
    min-width: 400px;
    padding: 25px 50px;
    border-radius: 25px;
    background-color: rgb(226, 226, 226);
}

.css-bhp9pd-MuiPaper-root-MuiCard-root.signUpCard:hover{
    background-color: rgb(216, 216, 216)
}

.signUpBtn.css-1fu7jd5-MuiButtonBase-root-MuiButton-root{
    background-color: black;
    border-radius: 20px;
}

.signUpBtn.css-1fu7jd5-MuiButtonBase-root-MuiButton-root:hover{
    background-color: rgb(51, 51, 51);
}

.dashboard{
    background-color: rgb(194, 194, 194);
    min-height: 100vh;
    position: fixed;
    min-width: 100%;
}

.createProject{
    background-color: rgb(194, 194, 194);
    min-height: 100vh;
    position: fixed;
    min-width: 100%
}


.createProjectStart{
    /* margin: 60px 40px 0px 40px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.body{
    top: 0;
}


.Component-paginationSelectRoot-4{
    display: none !important;
}

.createProjectCard.css-bhp9pd-MuiPaper-root-MuiCard-root{
    min-width: 400px;
    padding: 30px 50px 40px 50px;
    border-radius: 25px;
    background-color: rgb(226, 226, 226);
}

.createProjectBtn.css-1fu7jd5-MuiButtonBase-root-MuiButton-root{
    background-color: black;
    border-radius: 20px;
}

.createProjectBtn.css-1fu7jd5-MuiButtonBase-root-MuiButton-root:hover{
    background-color: rgb(51, 51, 51);
}

.createProjectCard.css-bhp9pd-MuiPaper-root-MuiCard-root:hover{
    background-color: rgb(216, 216, 216)
}

.MuiPaper-root.MuiPaper-elevation2{
    background-color:rgb(216, 216, 216);
}

.MuiPaper-root.MuiPaper-elevation2:hover{
    background-color:rgb(208, 208, 208);
}

.MTableHeader-header-13{
    background-color: rgb(196, 195, 195) !important;
}

.MTableHeader-header-13:hover{
    background-color: rgb(189, 188, 188) !important;
}

@media only screen and (max-width: 1400px) {
    .css-bhp9pd-MuiPaper-root-MuiCard-root.signUpCard{
        margin-top: 75px;
    }
    .navbar-nav{
        margin-top: -5px;
    }
    .MuiPaper-elevation2{
        margin-top: 100px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 50px;
    }
    
}

@media only screen and (max-width: 991px) {
    .navbar-collapse,.navCollapse {
      width: 100%;
      flex-wrap: wrap;
      margin-top: 10px;
    }
    .navbar-brand{
        margin-top: -12px;
    }
    .navbar-toggler{
        margin-top: -10px;
    }
    .navbar-nav{
        margin-left: -20px;
        margin-bottom: 10px;
    }
}


@media only screen and (max-width: 450px) {
    .navbar-brand{
        font-size: medium;
        padding-top: unset;
        padding-bottom: unset;
        margin-top: -3px;
    }
    .navbar-toggler{
        margin-top: -10px;
    }
    .css-bhp9pd-MuiPaper-root-MuiCard-root.LoginCard{
        max-width: 300px;
        min-width: unset;
        padding: 20px 30px;
        /* margin-top: 35px; */
    }
    .css-bhp9pd-MuiPaper-root-MuiCard-root.signUpCard{
        min-width: unset;
        margin: 35px 10px 0px 10px;
        padding: 20px 30px;
    }
    .NavBar{
        padding-left: 10px;
        padding-right: 10px;
    }
    .createProjectCard.css-bhp9pd-MuiPaper-root-MuiCard-root{
        min-width: unset;
        margin: 35px 10px 0px 10px;
        padding: 20px 30px;
    }
    .MuiPaper-elevation2{
        margin-left: 10px;
        margin-right: 10px;
        /* padding: ; */
    }
}
